@charset "utf-8";
/* CSS Document */

/*@import url('font-awesome.css');
*/
/*@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/roboto/Roboto-Regular.eot');
    src: url('/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
         url('/fonts/roboto/Roboto-Regular.woff') format('woff'),
         url('/fonts/roboto/Roboto-Regular.ttf') format('truetype'),
         url('/fonts/roboto/Roboto-Regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('/fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('/fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/Roboto-Bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('/fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('/fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('/fonts/roboto/roboto-light.eot');
    src: url('/fonts/roboto/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/roboto-light.woff2') format('woff2'),
         url('/fonts/roboto/roboto-light.woff') format('woff'),
         url('/fonts/roboto/roboto-light.ttf') format('truetype'),
         url('/fonts/roboto/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

*/

body{ font-family: 'Open Sans', sans-serif; background:#fff;}

* {
  margin: 0;
  padding: 0;
}
.top0{ top:0px;}
.bot0{ bot:0px;}
.right0{ right:0px;}
.right15{ right:15px;}
.left0{ left:0px;}
.mar-top10{margin-top:10px;}
.mar-top15{ margin-top:15px;}
.mar-top20{ margin-top:20px;}
.mar-top25{ margin-top:25px;}
.mar-top30{ margin-top:30px;}
.mar-top40{ margin-top:40px;}
.mar-top60{ margin-top:60px;}
.mar-top65{ margin-top:65px;}
.mar-bot10{ margin-bottom:10px;}
.mar-bot20{ margin-bottom:20px;}
.mar-bot40{ margin-bottom:40px;}
.mar-left5{ margin-left:5px;}
.mar-left10{ margin-left:10px;}
.mar-left15{ margin-left:15px;}
.mar-left20{ margin-left:20px;}
.mar-right20{ margin-right:20px;}
.mar-right100{ margin-right:100px;}
.mar-right150{ margin-right:150px;}

.pad-top15{ padding-top:15px;}
.pad-top20{ padding-top:20px;}
.pad-top25{ padding-top:25px;}
.pad-top40{ padding-top:40px;}
.pad-bot10{ padding-bottom:10px;}
.pad-bot20{ padding-bottom:20px;}
.pad-bot40{ padding-bottom:40px;}
.pad-left5{ padding-left:5px;}
.pad-left10{ padding-left:10px;}
.pad-left15{ padding-left:15px;}
.pad-left20{ padding-left:20px;}
.pad-right20{ padding-right:20px;}

.whitebg{ background:#fff;}

.size50{ font-size:50px;}
.size20{ font-size:20px;}
.float-l{ float:left;}
.float-r{ float:right;}

.color474{ color:#474747;}

.rb-regular{font-family: 'Open Sans', sans-serif; font-weight: 300; }
.rb-bold{font-family: 'Open Sans', sans-serif; font-weight: 700; }

.pos-rel{position:relative;}
.pos-abs{position:absolute;}

#slidertitle{
      overflow: hidden;
    left: 10%;
    color: #ffffff;
    /* text-shadow: #727272 1px 1px 2px; */
    margin: 0 20px 0 0;
    padding: 15px 15px;
    line-height: 82px;
    position: absolute;
    top: 200px;
    width:auto;
    /*text-transform: uppercase;*/
    background-color: rgba(0,0,0,.7);
    z-index: 9;
    font-size: 65px;
    }
#slidertitle h1{font-size: 65px!important; margin:0px;}
/*bootstrap*/
.navbar{ min-height:40px; margin-bottom:0px;}
.navbar-toggle{ float:left; margin-left:15px; border:0px;  padding: 5px 0px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{ background:none;}
.navbar-default{ border:0px; }
.navbar{ border-radius:0px;}
.navbar-default .navbar-nav>li>a{color:#444;}
.navbar-default .navbar-nav>li>a:hover{color:#000;}
.nav>li>a{ padding:0px; }
.navbar-default .navbar-nav>li>a:focus{color:#333;}

/*main*/
.shadow{ width:100%; height:23px; background:url(../images/shadow.png) top center no-repeat; position: absolute; z-index:9; }

.menu li{ margin:0px 7px; }
.menu li a{color:#fff; text-decoration:none; font-size: 14px; line-height:40px;}
.menu li a:hover{color:#cccccc;}
.navbargrey{background:#fff;}
ul.x-menu {margin:0px; }
ul.x-menu li{ float:left;  list-style:none; }
ul.x-menu li a{ line-height:40px;  padding:0px 10px; color:#fff;}
	ul.x-menu li a.singup-btn{background:#06daff; margin-left:50px;font-size: 16px;}
	ul.x-menu li a.singup-btn:hover{color:#000;background:#06daff;}
	ul.x-menu li a.login-btn{background:#fbb829; font-size: 16px; margin-left:15px;}
	ul.x-menu li a.login-btn:hover{color:#000;background:#fbb829;}
	
.headrow2{background:#199c1c;height:100px;}
.headrow2 a{ margin-top:20px; position: absolute;}

.headrow2 .europcar{ position:absolute; right:75px;margin-top:20px;color: #fff;
    font-size: 19px; line-height: 30px; }
.headrow2 .europcar span{ font-weight: bold; font-size: 25px; }
/*//////////////////// Car Search form ////////////////////*/


.banner .container{ position:relative;}

.homepage .car-src{max-width:370px;height:400px;position: absolute; z-index:10; top:50px; right:15px; padding:0px 10px; margin-bottom:0px;}
.homepage .car-src h2{ font-size:35px; line-height:64px; color:#fff; text-align:center; padding-top:22px;}

.car-src{ max-width:300px;  position:relative; margin-bottom:20px; margin-left:0px;padding:5px;
  background:#199c1c;
background: -moz-linear-gradient(top, #199c1c 0%, #218423 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#199c1c), color-stop(100%,#218423)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #199c1c 0%,#218423 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #199c1c 0%,#218423 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #199c1c 0%,#218423 100%); /* IE10+ */
background: linear-gradient(to bottom, #199c1c 0%,#218423 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#199c1c', endColorstr='#218423',GradientType=0 ); /* IE6-9 */
}
.car-src h2{ font-size:29px; line-height:40px; color:#fff; text-align:center; padding-top:12px;}
.car-src .title{ font-weight: normal;color: #fff; margin-top:15px;line-height:40px;font-size:18px; font-family: 'Open Sans', sans-serif; text-align:center; }
.car-src .title p{ font-weight: normal;text-align:center; width:50%; float:left; padding: 0px; margin: 0px; color: #fff;}
.car-src .src-row{height:30px;margin-top:8px; clear:both; }
.car-src #error{ color:#fcdc3a;margin-top:8px; text-align:center;}
.car-src .src-row .label{width:50%; font-size: 16px; float:left; text-align: right;}
.form-right .car-src .src-row .label{ font-size: 14px; padding: 0.5em .6em .3em;}
.form-right .car-src .src-row .label .tooltip-content{ font-size: 0.9em;}
.car-src .src-row .col-l{ float:left;}
.car-src .src-row .col-r{ float:right; }
.car-src .src-row .select{ float:left;}
.car-src .src-row .select2{ float:right; }
.car-src .src-row .select,.car-src .src-row .select2{	width: 48%;}
.car-src .src-row .input-time,.car-src .src-row .input-date,.car-src .src-row .input-curr{ 	font-size:14px;	font-family: 'Open Sans', sans-serif; font-weight: 300;
	color: #000000;	border: 0;	padding: 0px 0;	width: 48%;	text-indent: 30px;	line-height: 30px;	height:28px;
}
.car-src .src-row .input-date{ 	background: #ffffff url(/images/date-icon.png) 10px 5px no-repeat; cursor:pointer;}
.car-src .src-row .input-time{ 	background: #ffffff url(/images/time-icon.png) 10px 5px no-repeat; cursor:pointer;}
.car-src .src-row .input-time:focus{ line-height:29px;}
.car-src .src-row .input-curr{ 	
	width:50%; float:left;text-indent: 10px;
}
.car-src .src-row .submit { position:relative; display:block; font-family: 'Open Sans', sans-serif; background:#e4c10d; border:0px; border-radius: 2px; cursor:pointer; color:#fff; font-size:20px; padding:5px 15px;display:block; margin:0 auto; margin-top:10px;
-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
.car-src .src-row .submit:hover{background: #343434; color:#ffffff;}

.offer_btn { font-family: 'Open Sans', sans-serif; font-weight: 700; background:#ff9600; border:0px; cursor:pointer; color:#fff; font-size:16px; padding:5px 10px; margin:0 auto; margin-top:10px;
-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3); text-decoration:none;
}
.offer_btn:hover{background: #343434; color:#ffffff;}
@media screen and (max-width: 500px) {
.homepage .car-src{width:100%;height:510px;max-width:100%; position:relative; right:auto; top:0px;}
.homepage .banner .container{ position:relative;background:#036604;}
.homepage .banner .slider{ display:none;}
}

*::-webkit-input-placeholder {
    color: #333;
	opacity: 1 !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #333;
	opacity: 1 !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #333;
	opacity: 1 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #333;
}

/*dropkick*/
/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
.dk_container {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif; font-weight: 100;
  font-size: 14px;
  font-weight: normal;
 
  /*margin-bottom: 18px;*/
  /*border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; */}
  .dk_container:focus {
    outline: 0; }
  .dk_container a {
    cursor: pointer;
    text-decoration: none; }

.dk_toggle {
  /*border: 1px solid #ccc;*/
  color: #333;
  padding: 0px 21px 0px 30px;
  /*text-shadow: #fff 1px 1px 0;*/
  line-height:30px;
  /*border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;*/
  position: relative; 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;}
  .dk_toggle:hover, .dk_toggle:focus {
    border-color: #8c8c8c; }
  .dk_toggle:after {
    position: absolute;
    top: 45%;
    right: 10px;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4B4B4B; }

.dk_focus .dk_toggle {
  /*border-color: #40b5e2;
  box-shadow: 0 0 5px #40b5e2;
  -moz-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2;*/ }

.dk_open {
 /* box-shadow: 0 0 5px #40b5e2;
  -moz-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2;*/
  z-index: 10; }
  .dk_open .dk_toggle {
    /*background-color: #ececec;*/
    border-color: #8c8c8c;
    color: #ccc;
    /*box-shadow: inset 0 -2px 5px #ccc;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;*/ }

.dk_open_top .dk_toggle {
 /* border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;*/ }
.dk_open_top .dk_options, .dk_open_top .dk_options_inner {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0; }

.dk_options {
  background: #fefefe;
  /*box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;*/
  /*border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;*/ }
  .dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #EBEBEB;
    font-weight: normal;
    padding: 8px 10px; }
  .dk_options a:hover, .dk_options:focus,
  .dk_options .dk_option_current a {
    background-color: #E4E4E4;
    border-bottom-color: #D3D3D3;
    color: #000;
    text-decoration: none;
    /*text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;*/ }
  .dk_options li:last-child a {
    border-bottom: none; }
  .dk_options .disabled {
    cursor: default; }
    .dk_options .disabled a {
      color: #aaa; }
    .dk_options .disabled:hover, .dk_options .disabled:hover a
    .dk_options .disabled:focus, .dk_options .disabled:focus a {
      cursor: default;
      background-color: #fff;
      border-bottom-color: #999;
      text-shadow: none; }

.dk_options_inner {
  max-height: 250px;
 /* border: 1px solid #8c8c8e;
  border-bottom-width: 2px;
  border-bottom-color: #999;*/
  color: #333;
 /* text-shadow: #fff 0 1px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px; */}

.dk_container {
  display: none;
  float: left;
  width:100%;}
  .dk_container a {
    outline: 0; }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1; }

.dk_open {
  position: relative; }
  .dk_open .dk_options {
    display: block; border: 1px solid rgba(0, 0, 0, 0.2); }
  .dk_open .dk_label {
    color: inherit; }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%; }
  .dk_options a, .dk_options a:link, .dk_options a:visited {
    display: block; }

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  margin-bottom:0px; }

.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden;
  display:none; }

.dk_mobile {
  position: relative; }
  .dk_mobile select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }

.pickup-dd{ width:100%; background:#fff url(/images/location-icon.png) 8px 6px no-repeat;}
.dropoff-dd{width:100%;  background:#fff url(/images/location-icon.png) 8px 6px no-repeat;}
.car_type{ width:100%; background:#fff url(/images/vehicle-icon.png) 8px 6px no-repeat;}

.car_type2{ width:180px; }
.dk_container.car_type2{ background:#fff; float:none; display:inline-block; }
.dk_container.car_type2 .dk_toggle{ padding:0px 10px 0px 10px; }

.driver_age{ width:80%;}
.dk_container.driver_age{ background:#ececec; }
.dk_container.driver_age .dk_toggle{ padding:0px 10px 0px 10px; }
/*//////////////////// Banner ////////////////////*/
.banner{ height:510px; position:relative;}
.slider{ height:510px; position:relative; z-index:8;}


/*//////////////////// Carousel ////////////////////*/
/*.car-scroller {
	height:78px;
	margin:0 auto;
	width:450px;
	overflow:hidden;
	position:relative; float:left; margin-top:36px;
}
.carousel-inner{text-align:center;}
.carousel-inner>.active{ left:0px; text-align:center;} 
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{ display:block;}*/

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 0px;
  line-height: auto;
  background-color:none;
  border:0px solid #ddd;
  border-radius: 0px;
}
ul.thumbnails{margin-bottom: 0px; margin: 0; padding: 0;}
.thumbnails li{ list-style: none;}
.caption{text-align: center;}
.caption h4{ margin-top: 20px; font-size:14px;font-weight: normal;}
.caption span{ font-weight: bold;}
.control-box {
    width: 100%;
    margin-top: 0px;
    position: absolute;
    top: 40px;
    left: 0px;
}
.control-box .left{    float: left;}
.control-box .right{    float: right;}
.pager li>a{font-size: 45px; border: 0px; }
.pager li>a:hover{background: none}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{ max-height: 80px;}
.carousel {
    margin-bottom: 0;
    padding: 0px 40px 0px 40px;

}
.pager li>a:focus {
  text-decoration: none;
  background-color:transparent !important;
}
.pager li>a:hover {
  text-decoration: none;
  background-color:transparent !important;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
	background: #428bca;
}
.slide a#previous, .slide a#next {
	background: url(/images/arrows.png) no-repeat 0px 0px;
	float:left;
	text-indent:-9999px;
	cursor:pointer;
	width:25px;
	height:36px;
	margin:60px 2px 0 0;
}
.slide a#next {
	background: url(/images/arrows.png) no-repeat -29px 0px;
}
.slide a#previous:hover{
	background-position:0px -28px;
}
.slide a#next:hover {
	background-position:-29px -28px;
}
.welcome{ width:100%; height:auto; padding:50px 0px; position:relative; background:#fff;	}
	.welcome-text{ line-height:18px;}
	.welcome-text h1{ font-size:31px; line-height:32px; margin:0px 0px 10px 0px; }


/*//////////////////// grey section ////////////////////*/
.innerpage .grey-sec{ position:relative; }
.grey-sec{background:#f3f3f3 url(/images/shadow.png) top center no-repeat; position:relative; padding:60px 0px;}
	.address{ font-size: 15px; padding: 0px 60px;} 
  .address h4{ font-size: 22px; margin-bottom: 0px; font-weight:700;}
	.address .fa-map-marker{ margin: 9px 8px 10px 0; display: inline-block;
  float: left;
  font-size: 1.2em;
  position: relative;
  text-align: center;
  top: -2px;
  width: 16px;color: #444;}
  
    .address p{ display: inline-block;float: left;}
	.social{  height:auto;}
	.social a.fb{ display:block; width:28px; padding: 6px 0px 0px; /*background: url(../images/facebook.gif) no-repeat;*/ float:right;}
  .social a.fb svg path{fill:#3B5998;}
	.social a.fb svg path:hover{ /*background-position:bottom;*/fill:#6679a5;}

/*//////////////////// container ////////////////////*/
.content{ height:100%; width:100%; padding:10px 0px 40px;; /*background:#199c1c url(/images/shadow2.png) bottom center no-repeat;*/ }
.faq{padding:60px 0px 20px; margin-bottom:0px; color: #4c4c4c; font-size: 15px;}
.faq h2{font-size:32px; margin:0px 0px 40px 0px;padding:0px;}

.faql{
    min-height: 265px;
    max-width: inherit;
    overflow: hidden;}
.faqr{ padding: 0px 0px; }
.faqr .title{ font-size: 32px; }
.faqr ul{padding: 0px; margin: 0px;margin-left: 0px;}
.faqr li a{ color: #4c4c4c; padding: 0px 0px; display: block;}
.faqr .link{color: #4c4c4c; text-decoration: underline; }
.faqr ul li{ 
  list-style:none; 
  background:url(../images/check-mark.png) 0px 16px no-repeat; 
  line-height:20px; 
  border:0px; 
  padding:10px 0px 10px 20px;
  font-size: 15px;  
  display: inline-block; 
  margin-right: 0px; 
  margin-bottom: 0px;
}

/*//////////////////// inner pages ////////////////////*/
.contentin{ background:#ffffff url(/images/shadow.png) top center no-repeat;padding:0px 0px;}
.contentin hr{margin-top: 15px;  margin-bottom: 15px;}
.contentin h1{ padding:0px; margin-bottom:0px;}
.contentin h1 strong{ font-family: 'Open Sans', sans-serif; font-weight: 700;}
.contentin .container{ position:relative;}

.rental-data{ position:relative; color:#474747;}
.rental-data h2{ font-size:32px;}
.rental-data .data-desc{ font-size:16px;}
.rental-data .data-desc p{ line-height:20px;}
.rental-data .data-desc p strong{ font-family: 'Open Sans', sans-serif; font-weight: 700;}

.carlist{ border-top:0px solid #000; color:#474747;}
.carlist ul li{ list-style:none; padding:30px 0px 20px; border-bottom:8px solid #f0f0f0;}
.carlist ul li .car-img img{ max-width:100%;}
.carlist ul li .car-desc{ float:left; line-height:20px;}
.carlist ul li .car-desc .title{  font-size:18px;}

/* andrew mods*/
.carlist ul li .car-desc .carInfoPart{ width:50%; float:left; margin-bottom:10px;}
.carlist ul li .car-desc .carInfoPart img{ margin-right:10px; vertical-align:top;}
.carlist ul li .car-desc .desc img{ margin-right:10px; vertical-align:top;}

.carlist ul li .car-desc p strong{  font-family: 'Open Sans', sans-serif; font-weight: 700;}
.carlist ul li .car-rate{ float:right;  text-align:right;  }
.carlist ul li .car-rate span{ font-size:60px; line-height:82px; font-family: 'Open Sans', sans-serif; font-weight: 100; text-align:right; float:right; padding-right:0px;}
.carlist ul li .car-rate .booknow,.total-rate .booknow{ width:auto; line-height:40px; text-decoration: none; font-size:20px;font-family: 'Open Sans', sans-serif; font-weight: 700; color:#fff; background:#ff9600; display:block; float:right; text-align:center;  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border:0px;
}
.carlist ul li .car-rate .booknow:hover,.total-rate .booknow:hover{ background:#b56c03;}

.carextra .car-img img{ max-width:100%;}

.carextra .car-rate .calc{ width:auto; line-height:40px; text-decoration: none; font-size:20px;font-family: 'Open Sans', sans-serif; font-weight: 700; color:#fff; background:#7E7E7E; display:block; float:right; text-align:center;  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border:0px;
}
.carextra .car-rate .calc:hover{ background:#3D3D3D;}


.carlist-form{ background:#F0F0F0; padding:10px; }
.carlist-form ul li{ padding: 0px 0px 0px; border-bottom: 0px solid #f0f0f0; }
.carlist-form .findnow{ width:auto; line-height:30px; text-decoration: none; font-size:18px;font-family: 'Open Sans', sans-serif; font-weight: 700; color:#fff; background:#888888; display:block; text-align:center;  /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/ border:0px; padding:0px 15px;  position: absolute;
  left: 196px;
  top: 0px;
}
.carlist-form .findnow:hover{background:#b56c03;}
.carlist-form strong{font-family: 'Open Sans', sans-serif; font-weight: 700; line-height:30px;}
.carlist-form hr{margin-top: 0px;  margin-bottom: 0px;}

.carextra{ border-top:1px solid #000; color:#474747;  padding:30px 0px 20px; border-bottom:8px solid #f0f0f0;}
.carextra .car-rate .calc{  font-size:18px; padding-top:0px;
}
.carextra .car-rate{ float:right; text-align:right;  }
.carextra .car-rate input{ padding-top:8px;}
.carextra .car-rate .space{margin:0px 30px;}

.btn_all{ width:auto; line-height:30px; text-decoration: none; font-size:18px;font-family: 'Open Sans', sans-serif; font-weight: 700;color:#fff; background:#ff9600; display:block; text-align:center;  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border:0px; padding:5px 15px;  
}
.btn_all:hover{background:#b56c03;}


.total-rate{ float:right;  text-align:right;  }
.total-rate span{ font-size:60px; line-height:82px; font-family: 'Open Sans', sans-serif; font-weight: 100; text-align:right; float:right; padding-right:0px;}
.total-rate strong{ font-size:18px; line-height:35px; font-family: 'Open Sans', sans-serif; font-weight: 100;  padding-right:0px;}

.carform{ border-top:1px solid #000; color:#474747;}
.carform .head{ margin-top:10px;  font-size: 16px;}
.carform .head strong{font-family: 'Open Sans', sans-serif; font-weight: 700;}
.carform ul{ list-style:none; margin:0px; padding:0px;}
.carform ul li{ float:none;  margin-bottom:14px;}
.carform li .labels{ display: block; text-align:left;font-size: 20px;line-height:26px; font-family: 'Open Sans', sans-serif; font-weight: 300;}
.carform li .labels span{ font-size: 12px;line-height:14px; margin-bottom:8px; display:block;}
.carform li .inputs{ display: block;text-align:left;}

.carform li .inputs .field{ background:#ececec; border:0px; line-height:30px; padding:0px 10px; width:80%;}
.carform li .inputs .field:focus{ outline:none;}
.carform li .inputs .textarea{background:#ececec; border:0px;line-height:30px; padding:0px 10px;width:80%; height:120px;  }
.carform ul li .booknow{ width:195px; line-height:40px; text-decoration: none; font-size:20px;font-family: 'Open Sans', sans-serif; font-weight: 700; color:#fff; background:#ff9600; display:block; float:left; text-align:center;  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border:0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}
.carform ul li .booknow:hover{ background:#b56c03;}
.carform ul li .paynow{ width:auto; line-height:40px; text-decoration: none; font-size:20px;font-family: 'Open Sans', sans-serif; font-weight: 700; color:#fff; background:#ff9600; display:block; text-align:center;  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border:0px; padding:5px 15px; cursor:pointer;
}
.carform ul li .paynow:hover{ background:#b56c03;}

.carform ul li .selectboxit-option{ margin-bottom:0px;  margin-left:0px;	}
.carform ul li .selectboxit-text{ padding-left:0px; text-indent:0px;}

.carform ul li#error { color:#FF0000;}
.carform .driver_age ul li{margin:0px;}

.carform #loading{ display:none;}
#form-submit{ display:none;}
.carform{ display:block;}

.goback{ float:right;}
.goback p{ margin:2.80em 0 0 0; }
@media screen and (max-width: 470px) {
.goback{ float:left;}
.goback p{ margin:0 0 1.5em 0em; }
}


ul.checklist,ul.checklist2,ul.gallerylist{ padding:0px; margin:0px;}
ul.checklist li{ list-style:none; background:url(../images/check-mark.png) 0px 7px no-repeat; line-height:24px; border:0px; padding:0px 0px 0px 20px;font-size: 15px;  display: inline-block; margin-right: 15px; margin-bottom: 10px;}
ul.checklist2 li,ol.checklist2 li{ list-style: inside; line-height:24px; margin-right: 15px; margin-bottom: 10px;	}
ol.checklist2 li{list-style: decimal inside;}
/*GALLERY*/
#gallery2 { margin-bottom:0px; }
#gallery2 ul { display: block; margin: 0px 0 0 0px; padding: 0px;}
#gallery2 li { display: block; list-style: none; float: left; margin: 0 10px 10px 0; padding: 0px;  border:2px solid #ccc; position: relative;}
#gallery2 li a{ display:block; max-width:100%;}
#gallery2 li a .rollover{ opacity:0; position:absolute;width:100%;height:100%; z-index:10; display:block; background-color:rgba(0,0,0,0); -webkit-transition: all 0.3s ease-out; vertical-align:middle; font-size:23px;
	-moz-transition: all 0.2s cubic-bezier(.22,.24,.21,1);
	-o-transition: all 0.2s cubic-bezier(.22,.24,.21,1);
	-ms-transition: all 0.2s cubic-bezier(.22,.24,.21,1);
	transition: all 0.3s cubic-bezier(.22,.24,.21,1);
	background:url(/images/zoom.png) center center no-repeat;
}
#gallery2 li a .rollover:hover{ opacity:1; display:block; background-color:rgba(0,0,0,0.4);}
#gallery2 li a .rollover img{ margin-left:-15px; margin-top:-15px; top:50%; left:50%; position:absolute; width:30px; height:30px; }
#gallery2 li a.normal{z-index:9;}
#gallery2 span { width:68px; height:51px; position:absolute; display:none;}
#gallery2 li p { text-align: center; margin: 0px; padding: 0.5em;}
#gallery2 li img { border:0px solid #666; max-width:100%;}
#gallery2 hr { clear: both; visibility: hidden; margin: 0px; padding: 0px; height: 1px; }

ul.gallerylist li{ list-style:none; padding:10px 3px 10px 0px; display: inline-block;}
ul.gallerylist li img{ max-width:100%; border:1px solid #ccc;}
/*.left{ width:630px; float:left;}
.right{ width:320px; float:right;}*/

.text{color:#474747;}
.text ul{ padding-top:20px;}
.text li{ list-style:none; background:url(/images/check-mark.png) 0px 7px no-repeat; padding-left:20px; line-height:24px;}
.text .gallery a{display:block;}
.text .gallery a img{ float:left; min-width:167px; display:block;border:1px solid #474747;  margin-right:5px;margin-bottom:5px;}


.innerpage .b1,.innerpage .b2,.innerpage .b4{ margin-top:10px;}

.innerpage .b1{ width:300px; height:300px; float:left; color:#444444; background:#fff; text-align:center;}
.innerpage .b1 a{ display:block; color:#444444; text-decoration:none;padding:10px;}
.innerpage .b1 a:hover{color:#000; }
.innerpage .b1 h4{ font-size:20px; margin-top:10px;}
.innerpage .b1 strong{font-family: 'Open Sans', sans-serif; font-weight: 700;}
.innerpage .b1 .fa{ font-size:20px;}
.innerpage .b1 ul li{ font-size:16px; line-height:31px; list-style:none;}
.innerpage .b1 ul li .fa{ font-size:16px; color:#669c19;}
.innerpage .b1 .boxicon{ margin-top:25px;}
.innerpage .b1 .image{ margin-top:10px; max-width:100%;}

.innerpage .b3{ width:300px; height:390px; color:#ffffff; background:#fbb025; text-align:center;}
.innerpage .b3 a{ display:block; color:#ffffff; text-decoration:none;}
.innerpage .b3 a:hover{color:#000; }
.innerpage .b3 h4{ font-size:20px; line-height:22px; margin-top:10px;}
.innerpage .b3 strong{font-family: 'Open Sans', sans-serif; font-weight: 700;}
.innerpage .b3 .fa{ font-size:40px;}
.innerpage .b3 .image{ max-width:100%;}

.innerpage .b4{  width:300px; height:187px; float:left; color:#ffffff;  background:url(/images/orange-box.gif) no-repeat; text-align:center;}
.innerpage .b4 a{ display:block; color:#ffffff; text-decoration:none; height:100%;}
.innerpage .b4 a:hover{color:#000; }
.innerpage .b4 h4{ font-size:20px; line-height:22px;}
.innerpage .b4 strong{font-family: 'Open Sans', sans-serif; font-weight: 700;}
.innerpage .b4 .fa{ font-size:60px;}
.innerpage .b4 p{font-size:16px;}
.innerpage .b4 .boxicon{ margin-top:20px;}
.innerpage .b4 h4{ margin-top:20px;}
.fa-facebook-official{font-size:32px; line-height: 40px; color: #3c5a99;}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.innerpage .b1,.innerpage .b3,.innerpage .b4{ width:220px; float:left; margin-top:20px; margin-right:20px;}
	.innerpage .b3 {height:300px;}
	
	.innerpage .car-src{max-width:100%;}
}

.box{/*-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);*/
 text-align:center; font-size:20px; 
 color:#444; 
 margin:0px 0px 0px 0px;
 background-color: rgba(6,30,76,.1);
/* background:url(../images/our_company_a_thumb.jpg) no-repeat;*/
}
.box .pic{
   
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: #f2f2f2;
    transition: all .2s ease-in-out;
  }

  .box a{height: 189px; padding: 0px; position: relative; overflow: hidden;}
  .box a:hover .pic {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.box img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .box .pic:after{
    content: " ";
    background-color: rgba(42,44,55,.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;}
.box.orange a,.box.orange .wrap{ 
background: #fcc22f; /* Old browsers */
background: -moz-linear-gradient(top, #fcc22f 0%, #faae23 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcc22f), color-stop(100%,#faae23)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcc22f 0%,#faae23 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcc22f 0%,#faae23 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcc22f 0%,#faae23 100%); /* IE10+ */
background: linear-gradient(to bottom, #fcc22f 0%,#faae23 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc22f', endColorstr='#faae23',GradientType=0 ); /* IE6-9 */
}
.box.orange a:hover{ background: #ffd05a; 
background: -moz-linear-gradient(top, #faae23 0%, #fcc22f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faae23), color-stop(100%,#fcc22f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #faae23 0%,#fcc22f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #faae23 0%,#fcc22f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #faae23 0%,#fcc22f 100%); /* IE10+ */
background: linear-gradient(to bottom, #faae23 0%,#fcc22f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae23', endColorstr='#fcc22f',GradientType=0 ); /* IE6-9 */
}

.box.orange i{ font-size:40px;}
/*.box.orange:hover i{ color:#000;}*/
.box.orange a{ color:#fff;  }

.box.yellow a,.box.yellow .wrap{ 
  background: rgba(0,0,0,.7); 
/*background: #e1da3e; 
background: -moz-linear-gradient(top, #e1da3e 0%, #d7cd2e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1da3e), color-stop(100%,#d7cd2e)); 
background: -webkit-linear-gradient(top, #e1da3e 0%,#d7cd2e 100%); 
background: -o-linear-gradient(top, #e1da3e 0%,#d7cd2e 100%);
background: -ms-linear-gradient(top, #e1da3e 0%,#d7cd2e 100%); 
background: linear-gradient(to bottom, #e1da3e 0%,#d7cd2e 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1da3e', endColorstr='#d7cd2e',GradientType=0 ); */
}
.box.yellow a:hover{ 
background: rgba(0,0,0,1); 
/*background: -moz-linear-gradient(top, #d7cd2e 0%, #e1da3e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7cd2e), color-stop(100%,#e1da3e)); 
background: -webkit-linear-gradient(top, #d7cd2e 0%,#e1da3e 100%); 
background: -o-linear-gradient(top, #d7cd2e 0%,#e1da3e 100%); 
background: -ms-linear-gradient(top, #d7cd2e 0%,#e1da3e 100%); 
background: linear-gradient(to bottom, #d7cd2e 0%,#e1da3e 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7cd2e', endColorstr='#e1da3e',GradientType=0 ); */
}

.box.yellow i{ font-size:40px; margin-bottom:0px;}
/*.box.yellow:hover i{ color:#000;}*/
.box.yellow a{ color:#fff; 
   }
.box.yellow .wrap{ color:#fff; 
   }

.box p{ font-size:16px;}
.box.white{ background:#fff;}
.box.white a:hover{ background:#e3e3e3;}
.box.white .green{ color:#669c19;}
.box .heading{ font-size:20px;}
.box strong{ font-family: 'Open Sans', sans-serif; font-weight: 700; }
.box h4{ font-size:26px;margin:0px;}
.box.yellow h4{ font-size:18px;margin: 20px 0px 0px;}

.box a{ display:block; text-decoration:none;color:#fff; padding: 0px 0px; }
.box .wrap{ display:block; text-decoration:none;color:#444; padding:20px; }

/*.box a:hover i{ color:#669c19;}*/
.box a img{ max-width:100%;}

.box i{ font-size:36px;  margin-bottom:20px;}

.box ul{ list-style:none;  font-size:15px; margin:0px; padding:0px 0px 20px;}
.box ul i{ color:#669c19; margin:0px;font-size:15px; }

/* box right end */

.box-right{-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
   text-align:center; font-size:20px; color:#444; margin:0px 0px 20px 0px;
  }
  .box-right.orange a,.box-right.orange .wrap{ 
  background: #fcc22f; /* Old browsers */
  background: -moz-linear-gradient(top, #fcc22f 0%, #faae23 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcc22f), color-stop(100%,#faae23)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcc22f 0%,#faae23 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcc22f 0%,#faae23 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcc22f 0%,#faae23 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcc22f 0%,#faae23 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc22f', endColorstr='#faae23',GradientType=0 ); /* IE6-9 */
  }
  .box-right.orange a:hover{ background: #ffd05a; 
  background: -moz-linear-gradient(top, #faae23 0%, #fcc22f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faae23), color-stop(100%,#fcc22f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #faae23 0%,#fcc22f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #faae23 0%,#fcc22f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #faae23 0%,#fcc22f 100%); /* IE10+ */
  background: linear-gradient(to bottom, #faae23 0%,#fcc22f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae23', endColorstr='#fcc22f',GradientType=0 ); /* IE6-9 */
  }
  
  .box-right.orange i{ font-size:40px;}
  /*.box.orange:hover i{ color:#000;}*/
  .box-right.orange a{ color:#fff;  }
  
  .box-right.yellow a,.box-right.yellow .wrap{ 
  background: #e1da3e; /* Old browsers */
  background: -moz-linear-gradient(top, #e1da3e 0%, #d7cd2e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1da3e), color-stop(100%,#d7cd2e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1da3e 0%,#d7cd2e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1da3e 0%,#d7cd2e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e1da3e 0%,#d7cd2e 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e1da3e 0%,#d7cd2e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1da3e', endColorstr='#d7cd2e',GradientType=0 ); /* IE6-9 */
  }
  .box-right.yellow a:hover{ 
  background: #e1da3e; /* Old browsers */
  background: -moz-linear-gradient(top, #d7cd2e 0%, #e1da3e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7cd2e), color-stop(100%,#e1da3e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d7cd2e 0%,#e1da3e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d7cd2e 0%,#e1da3e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d7cd2e 0%,#e1da3e 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d7cd2e 0%,#e1da3e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7cd2e', endColorstr='#e1da3e',GradientType=0 ); /* IE6-9 */
  }
  
  .box-right.yellow i{ font-size:40px; margin-bottom:0px;}
  /*.box.yellow:hover i{ color:#000;}*/
  .box-right.yellow a{ color:#fff; 
     }
  .box-right.yellow .wrap{ color:#fff; 
     }
  
  .box-right p{ font-size:16px;}
  .box-right.white{ background:#fff;}
  .box-right.white a:hover{ background:#e3e3e3;}
  .box-right.white .green{ color:#669c19;}
  .box-right .heading{ font-size:20px;}
  .box-right strong{ font-family: 'Roboto', sans-serif; font-weight: 700; }
  .box-right h4{ font-size:20px;margin:0px;}
  .box-right.yellow h4{ font-size:18px;margin:0px;}
  
  .box-right a{ display:block; text-decoration:none;color:#444; padding:20px; }
  .box-right .wrap{ display:block; text-decoration:none;color:#444; padding:20px; }
  
  /*.box a:hover i{ color:#669c19;}*/
  .box-right a img{ max-width:100%;}
  
  .box-right i{ font-size:20px;  margin-bottom:20px;}
  
  .box-right ul{ list-style:none;  font-size:15px; margin:0px; padding:0px 0px 20px;}
  .box-right ul i{ color:#669c19; margin:0px;font-size:15px; }

  /* box right end */

ul.location-list{ padding:0px; margin:10px 0px 0px 0px; list-style:none;}
ul.location-list li{ background:#fff; border-bottom: 8px solid #f0f0f0; padding:0px; margin-bottom:30px;clear:both; }
ul.location-list li img.thumb{ max-width:100%; border:0px solid #ccc;}
ul.location-list li hr {clear:both; visibility:hidden; margin:20px 0px; color:#f0f0f0; display:block; position:relative; }

ul.news-list{ padding:0px; margin:10px 0px 0px 0px; list-style:none;}
ul.news-list li{ background:#fff; border-bottom: 8px solid #f0f0f0; padding:0px; margin-bottom:30px;clear:both; }
ul.news-list li img{ max-width:100%; border:0px solid #000;}
ul.news-list li .photo{ padding:0px;}
ul.news-list li hr {clear:both; visibility:hidden; margin:10px 0px; color:#f0f0f0; display:block; position:relative; }

ul.about-list{ padding:0px; margin:10px 0px 0px 0px; list-style:none;}
ul.about-list li{ background:#fff; padding:5px; margin:0px 0px 30px;}
ul.about-list li img.thumb{ max-width:100%; border:0px solid #000;}
ul.about-list li p{ text-align:center; font-size:18px;}
ul.about-list li p strong{ font-family: 'Open Sans', sans-serif; font-weight: 700;}

.faq-list ul{ padding:0px; margin:10px 0px 0px 0px; list-style:none;}

.faq-list li{ background:#fff; border-bottom: 4px solid #f0f0f0; padding:0px; margin-bottom:30px;clear:both; }
.faq-list { position:relative; }
.faq-list h4	{ cursor:pointer; }
.faq-list h4 .hide{ display:none;}
.faq-list h4.active	{ color:#d74646; }
.faq-list div   { position:relative; /*display:none; margin-left:20px; */}
.faq-list div p	{ padding:0; margin-bottom:15px; }

/*//////////////////// footer ////////////////////*/
.footer{ height:38px; background:#fff; padding-top:5px;}
.footer a.disclaimer-logo{ margin:0 auto;  display:block; width:100px; height:30px; background:url(../images/disclaimer-logo.png) no-repeat;opacity:1;}
.footer a.disclaimer-logo:hover{ opacity:.8; }



@media screen and (max-width: 768px) {
    .headrow2 a img {
        max-width:250px;
    }
	.headrow2 .europcar {
        display:none;
    }
	.address{ font-size:14px;}
	.social{ }
	.social a.fb{ float:left;}

}

@media screen and (min-width: 768px) {
.slide a#previous, .slide a#next {
	margin:10px 2px 0 0;
	}


}

@media screen and (max-width: 768px) {

.carlist ul li .car-desc{ margin-top:10px;}
.carlist ul li .car-rate span{ float:left; text-align:left; width:100%;}
.carlist ul li .car-rate .booknow{ float:left; margin-left:0px; margin-top:5px;}
.carlist ul li .car-rate .calc{ float:left; margin-left:0px; margin-top:5px;}

.carextra .car-rate .calc{ float:left;}
.carextra .car-rate{ float:left; text-align:left; margin-top:20px; }

.total-rate{ float:left;  text-align:left;  }
.total-rate span{ font-size:60px; line-height:82px; font-family: 'Open Sans', sans-serif; font-weight: 100; text-align:left; float:left; padding-left:0px;}
.total-rate strong{ font-size:18px; line-height:35px; font-family: 'Open Sans', sans-serif; font-weight: 100; text-align:left; float:left; padding-right:0px;}
.total-rate .booknow{ float:left;}
.address{padding: 0px 15px;}
.navbar-nav{margin: 7px 10px;}
}
@media screen and (min-width: 992px) {
.slide a#previous, .slide a#next {
	margin:30px 2px 0 0;
	}

}
@media screen and (max-width: 475px) {
.total-rate .booknow{ float:left;}


}
@media screen and (min-width: 1200px) {
.carlist-form .txt{ text-align:right;}
}
@media (min-width:1200px){.homepage .content .container{}}
@media screen and (min-width: 768px) and (max-width: 992px) {
.address
.total-rate{ float:left;  text-align:left;  }
.total-rate span{ font-size:60px; line-height:82px; font-family: 'Open Sans', sans-serif; font-weight: 100; text-align:left; float:left; padding-left:0px;}
.total-rate strong{ font-size:18px; line-height:35px; font-family: 'Open Sans', sans-serif; font-weight: 100; text-align:left; float:left; padding-right:0px;}
.total-rate .booknow{ float:left;}

.carlist ul li .car-rate span{ float:right;  text-align:left;}
.carlist ul li .car-rate .booknow{ float:left; margin-left:0px; margin-top:5px;}

.carextra .car-rate .calc{ float:left;}
.carextra .car-rate{ float:left; text-align:left; margin-top:20px; }

}


.about-home h1{ color:#ffffff;margin: 10px 0 20px 0;}
.about-home p{ color:#444;}
.about-home h4 { color:#444;}

.models h1,.plain h1 {
  font-size: 50px;
  line-height: 44px;
  color:#474747;
  margin: 65px 0 44px 0;
}
.terms h1{  
  font-size: 50px;
  line-height: 44px;
  color:#474747;
  margin: 65px 0 44px 0;
  }
.terms h1 p{ font-size: 16px;}
.plain p{ line-height:24px;  margin: 0 0 20px;}
.models p{ line-height:24px;  margin: 0 0 6px;}
.terms p{ line-height:24px;  margin: 0 0 34px;}
.models h4,.plain h4 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  margin: 0 0 10px 0;
}

.award {
    display: inline-block;
    vertical-align: top;
    position: static;
    background-color: inherit;
    width: 270px;
    height: 80px;
    margin-left: 50px;
}
.award img {
    width: 88px;
    height: 77px;
    display: inline-block;float: left; margin-right: 10px;
}
.award p{display: inline-block; float: left; color: #333; padding: 20px 0px; text-align: left;}
/*why us*/
.plan-your-stay {
    margin: 0px;
    padding: 40px 40px;
    background: #f0f0f0 url(https://u.jimcdn.com/cms/o/sa6549607c78f5c11/userlayout/img/plan-your-stay-europe6.jpg?t=1451920429) no-repeat center bottom;
    margin-top: 15px;
    border-top: 0px solid #E4E4E4;
    min-height: 410px!important;
    }
.why-us{ padding: 40px 0px 40px;background: #f3f3f3;}
.why-us h1{font-size:32px; margin:0px 0px 40px 0px;padding:0px;}
.why-us h3{font-size:28px;margin-bottom:20px; margin-top: 0px;}
.butn{padding:10px 20px;color:green; border-radius:2px; border:1px solid green; text-decoration:none;}
.butn:hover{background:green;color:white; text-decoration:none;}
/*.why-us .head:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 325px;
    left: 61%;
    margin-left: -200px;
    background: #565656;
    bottom: 50px;
}*/
/*why us*/
/*GUESTBOOK */
#addForm{ display:none;}
#reviewData .textTitle {  font-weight: bold;  padding-top: 3px;  margin: 0;}
#reviewData .textDate {  font-style: italic;  padding-top: 3px;  margin: 0;}
#reviewData .testText {  padding: 0;  margin: 0;}
.successResponce {  margin-top: 3px; }
.failedResponce {  margin-top: 3px; }
#view-reviews {  font-size: 14px;}
.button2 { /*width:560px; */height: 20px; position: relative;margin: 0 auto; top:-23px; text-align:center; }
#buttonFormAdd { cursor: pointer; width:130px; position: absolute;right:0px;text-align:left; font-size: 18px; line-height: 22px; color: #333;}
#buttonFormRem { display:none; cursor: pointer; width:120px;position: absolute;right:0px;text-align:left; font-size: 18px; line-height: 22px; color: #333;}
#form1 { padding-top: 0px; border: 0px solid #ffffff; line-height:26px; font-size:18px; color:#fff; width:100%;}
#form1 tr{ vertical-align: middle;}
#form1 strong {  color: #fff;}

.col{width:320px; float:left; border:0px solid #000;}
.mar-right10{ margin-right:10px;}

.input1 { font-size:14px;
	font-family: 'Open Sans', sans-serif; font-weight: 300;
	margin-bottom: 6px;
	background: #d2d2d2;
	color: #000000;
	border: 0;
	padding: 10px 0;
	width: 100%;
	text-indent: 10px;
	border-radius: 4px;
	line-height: 16px; }
.label{ font-size: 20px; width:189px;}
table td{ line-height:32px;}
#reset-form {
  width: 60px;
  height: 25px;
}
#reviewData {
  margin-top: 1px;
}
#reviewData ul.reviewData {
  list-style: none;
  padding-left: 0px;
}
.textarea2 {
	font-size: 14px;
font-family: 'Open Sans', sans-serif; font-weight: 300;
margin-bottom: 6px;
height:65px;
background: #ffffff;
color: #000000;
border: 0;
padding: 10px 0;
width: 100%;
text-indent: 10px;
border-radius: 4px;
line-height: 16px;}
#buttonreset {	position: absolute;	top: 148px;	right: 0;	text-decoration: underline;	cursor: pointer;}
#buttonreset:hover {  text-decoration: none;}



/* Tooltip */
.tooltip {
	display: inline;
	position: relative;
	z-index: 9;
	opacity:1;
	font-size: 1.2em;
}

/* Trigger text */

.tooltip-item {
	/*background: rgba(0,0,0,0.3);*/
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 2px 0px;
	color:#fff;

}
.tooltip-item:hover {
	color:#d5d5d5;
}
/* Gap filler */

.tooltip-item::after {
	content: '';
	position: absolute;
	width: 210px;
	height: 20px;
	bottom: 80%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
	pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 9999;
	/*width: 208px;*/
	left: 50%;
	margin: 0 0 20px -103px;
	bottom: 60%;
	text-align: left;
	font-size: .8em;
	line-height: 1.4;
	box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
	background: #2a3035;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.tooltip-effect-1 .tooltip-content {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

.tooltip.tooltip-effect-2:hover .tooltip-content {
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
	transform: perspective(1000px) rotate3d(1,0,0,0deg);
}

/* Arrow */

.tooltip-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #2a3035;
	border-width: 10px;
	margin-left: -10px;
}

/* Tooltip content*/

.tooltip-content img {
	position: relative;
	height: 170px;
	display: block;
	float: left;
	margin-right: 1em;
}

.tooltip-text {
	/*font-size: 0.68em;*/
	line-height: 1.35;
	display: block;
	padding: 10px;
	color: #fff;
}
.tooltip-text strong {
	color: #fff;
}
.tooltip-effect-5 .tooltip-text {
	padding: 1.4em;
}

.tooltip-text a {
	font-weight: bold;
	color: #0099cc;
}
