/*	LiteBox v1.3, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	=============================================================================== */

/*	Table of Contents
//	==================================================
//		#Default


/*	#Default
//	================================================== */

	.litebox-overlay,
	.litebox-overlay > * {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.litebox-overlay {
		display: none;
		width: 100%;
		min-width: 280px;
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;
	}

	@-webkit-keyframes liteboxLoader {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@-moz-keyframes liteboxLoader {
		0% { -moz-transform: rotate(0deg); }
		100% { -moz-transform: rotate(360deg); }
	}

	@-ms-keyframes liteboxLoader {
		0% { -ms-transform: rotate(0deg); }
		100% { -ms-transform: rotate(360deg); }
	}

	@-o-keyframes liteboxLoader {
		0% { -o-transform: rotate(0deg); }
		100% { -o-transform: rotate(360deg); }
	}

	@keyframes liteboxLoader {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	.litebox-overlay .litebox-loader {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 20px;
		top: 20px;
		border: 3px solid #111;
		border-right-color: #fff;
		border-radius: 50%;
		-webkit-animation: liteboxLoader 1s linear infinite;
		-moz-animation: liteboxLoader 1s linear infinite;
		-ms-animation: liteboxLoader 1s linear infinite;
		-o-animation: liteboxLoader 1s linear infinite;
		animation: liteboxLoader 1s linear infinite;
	}
	
	.litebox-overlay .litebox-text {
		width: 100%;
		padding: 0 15px;
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		font-size: 12px;
		line-height: 50px;
		position: absolute;
		bottom: 0;
		z-index: 2;

		-webkit-opacity: 0;
		-khtml-opacity: 0;
		-moz-opacity: 0;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		filter: alpha(opacity=0);
		opacity: 0;

		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	.litebox-overlay .litebox-text.active {
		-webkit-opacity: 1;
		-khtml-opacity: 1;
		-moz-opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100);
		opacity: 1;
	}

	.litebox-overlay .litebox-close {
		width: 40px;
		height: 40px;
		background: url('../images/litebox-close.png') no-repeat center;
		opacity: .7;
		position: absolute;
		top: 20px;
		right: 20px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.litebox-overlay .litebox-close:hover {
		opacity: 1;
		cursor: pointer;
	}

	.litebox-overlay .litebox-nav {
		display: none;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		opacity: .2;
		position: absolute;
		top: 50%;
		z-index: 9999999;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.litebox-overlay .litebox-nav:hover {
		opacity: .5;
		cursor: pointer;
	}

	.litebox-overlay .litebox-prev {
		background: url('../images/litebox-prev.png') no-repeat center;
		left: 20px;
	}

	.litebox-overlay .litebox-next {
		background: url('../images/litebox-next.png') no-repeat center;
		right: 20px;
	}

	.litebox-overlay .litebox-container {
		position: absolute;
		top: 10%;
		right: 10%;
		bottom: 10%;
		left: 10%;
		overflow: hidden;
	}

	.litebox-overlay .litebox-container.litebox-scroll { overflow-y: auto; }

	.litebox-overlay img,
	.litebox-overlay iframe {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
		vertical-align: middle;
		overflow-x: hidden;
	}

	.litebox-overlay iframe {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 999999;
	}

	.litebox-overlay .litebox-inline-html {
		width: 100%;
		padding: 20px;
		background: #FFF;
		line-height: normal;
		overflow-x: hidden;
		line-height: normal !important;
		position: absolute;
	}

	.litebox-overlay .litebox-error {
		width: 100%;
		height: 100%;
		color: #FFF;
		text-align: center;
		line-height: inherit;
	}

	.litebox-overlay .litebox-error span {
		background: rgba(0, 0, 0, .9);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 20px;
		color: #FFF;
		text-shadow: 1px 1px 0 #000;
		line-height: normal;
	}

	@media only screen and (max-width: 479px) {
		.litebox-overlay .litebox-close { display: none; }
	}