/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Theme 	: Shutter 1.2
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

	/* Controls Bar
	----------------------------*/
	#controls-wrapper { margin:0 auto; height:42px; width:100%; bottom:0px; left:0; z-index:4; position:fixed; }
		#controls { overflow:hidden; height:100%; position:relative; text-align:left; z-index:5; }
			#slidecounter { float:left; color:#999; font:14px "Helvetica Neue", Helvetica, Arial, sans-serif; text-shadow:#000 0 -1px 0; margin:0px 10px 0 15px; line-height:42px; }
			#slidecaption { overflow: hidden; left:5%;color: #ffffff;/*text-shadow: #727272 1px 1px 2px;*/ margin: 0 20px 0 0; padding: 5px 10px; line-height: 32px; position: absolute; top: 80%; background-color: rgba(250,177,38,1); z-index: 9; font-size: 22px; font-weight:700; }

@media screen and (max-width: 992px) {
#slidecaption {	font-size: 27px;}
}
@media screen and (max-width: 768px) {
#slidecaption {font-size: 22px;}
}


			#navigation { float:right; margin:0px 20px 0 0; }
				#play-button{ float:left; margin-top:1px;border-right:1px solid #333;  }
					#play-button:hover{ background-position:0 1px; cursor:pointer; }
				
				.slideWrap{
					position:absolute;
					bottom:50px;
					left:10px;
					margin-top:-20px;
					height:40px;
					width:95px;
					z-index:9;
				}
				#prevslide, #nextslide{z-index:10001; display:block; cursor:pointer; position:absolute;  
					width:20px;
					/*height:20px;*/
					font-size:42px;
					font-weight:lighter;
					/*opacity:0.8;*/
					transition: color 0.3s ease-in-out 0s;
					-o-transition: color 0.3s ease-in-out 0s;
					-ms-transition: color 0.3s ease-in-out 0s;
					-moz-transition: color 0.3s ease-in-out 0s;
					-webkit-transition: color 0.3s ease-in-out 0s;
					text-shadow:1px 1px 1px rgba(0,0,0,0.4);
					
				}
				#prevslide{ width:20px; /*height:20px;*/ right:70px; }
				#nextslide{ right:0px;}
				#pauseslide .fa-play{
					width: 20px;
					font-size: 26px;
					position: absolute;
					right: 35px;
					z-index: 10001;
					margin-top: 8px;
					 transition: color 0.3s ease-in-out 0s;
					-o-transition: color 0.3s ease-in-out 0s;
					-ms-transition: color 0.3s ease-in-out 0s;
					-moz-transition: color 0.3s ease-in-out 0s;
					-webkit-transition: color 0.3s ease-in-out 0s;
					text-shadow:1px 1px 1px rgba(0,0,0,0.4);
				}
				#pauseslide .pauseicon-pause44{
					width:40px;
					font-size:39px;
					position:absolute;
					right:27px;
					z-index:10001;
					margin-top:3px;
					transition: color 0.3s ease-in-out 0s;
					-o-transition: color 0.3s ease-in-out 0s;
					-ms-transition: color 0.3s ease-in-out 0s;
					-moz-transition: color 0.3s ease-in-out 0s;
					-webkit-transition: color 0.3s ease-in-out 0s;
					text-shadow:1px 1px 1px rgba(0,0,0,0.4);
				}
				#nextslide:hover, #prevslide:hover, #pauseslide:hover, #playslide:hover {
					color:#d9d9d9;
				}
				#nextslide:hover > .fa{
				}
				#nextslide:active, #prevslide:active {
					/*-moz-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					-o-transform: scale(1.1);
					-ms-transform: scale(1.1);
					transform: scale(1.1); transition:none;*/
					transition: none;
					-o-transition: none;
					-ms-transition: none;
					-moz-transition: none;
					-webkit-transition: none;
					color:#222222;
				 }
				
				
				
				ul#slide-list{ padding:15px 0; position:absolute; left:50%; z-index:9;top:470px;}
					ul#slide-list li{ list-style:none; width:12px; height:12px; float:left; margin:0 5px 0 0; }
						ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover{ background: #ffffff; border:0px solid #fff;}
						ul#slide-list li a{ display:block; border:0px solid #000; width:100%; height:100%; background: rgba(255,255,255,.50);border-radius: 50%;  -moz-border-radius: 50%;  -webkit-border-radius: 50%; -moz-box-shadow: 0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow: 0px 0px 4px #000;}
							ul#slide-list li a:hover{ cursor:pointer; }
				
				#tray-button{ float:right; margin-top:1px; border-left:1px solid #333; }
					#tray-button:hover{ background-position:0 1px; cursor:pointer; }
		
	
	/* Progress Bar
	----------------------------*/					
	#progress-back{ z-index:5; position: absolute; bottom:60px; left:0; height:20px; width:100%; }
		#progress-bar{ position:relative; height:20px; width:100%; }
	
	
	/* Thumbnail Navigation
	----------------------------*/	
	#nextthumb,#prevthumb { z-index:2; display:none; position:fixed; bottom:61px; height:75px; width:100px; overflow:hidden; background:#ddd; border:1px solid #fff; -webkit-box-shadow:0 0 5px #000; }
		#nextthumb { right:12px; }
		#prevthumb { left:12px; }
			#nextthumb img, #prevthumb img { width:150px; height:auto;  }
			#nextthumb:active, #prevthumb:active { bottom:59px; }
			#nextthumb:hover, #prevthumb:hover { cursor:pointer; }
	
	
	/* Thumbnail Tray
	----------------------------*/			
	#thumb-tray{ position:fixed; z-index:3; bottom:0; left:0; height:150px; width:100%; overflow:hidden; text-align:center; -moz-box-shadow: 0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow: 0px 0px 4px #000; }
		
		#thumb-back, #thumb-forward{ position:absolute; z-index:5; bottom:42px; height:108px; width:40px; }
			#thumb-back{ left:0; }
			#thumb-forward{ right:0;}
				#thumb-back:hover, #thumb-forward:hover{ cursor:pointer; background-color:rgba(256,256,256, 0.1); }
					#thumb-back:hover{ border-right:1px solid rgba(256,256,256, 0.2); }
					#thumb-forward:hover{ border-left:1px solid rgba(256,256,256, 0.2); }
		
		
		ul#thumb-list{ display:inline-block; list-style:none; position:relative; left:0px; padding:0 0px; }
			ul#thumb-list li{ background:#111; list-style:none; display:inline; width:150px; height:108px; overflow:hidden; float:left; margin:0; }
				ul#thumb-list li img { width:200px; height:auto; opacity:0.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=60); -webkit-transition: all 100ms ease-in-out; -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -ms-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; }
				ul#thumb-list li.current-thumb img, ul#thumb-list li:hover img{ opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); }
				ul#thumb-list li:hover{ cursor:pointer; }
				
@media screen and (max-width: 500px) {
ul#slide-list{ top:200px;}
}